.toolbarNav{
  position: fixed;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

span {
  display: inline-flex;
  vertical-align: middle;
}

.mat-badge-accent .mat-badge-content {
  color: white !important;
}
