.example-card {
    max-width: 400px;
    margin-bottom: 10px;
}

example-card {
    max-width: 400px;
}

.feed {
    margin-top: 15px;
    margin-bottom: 25px;
}

.feed-coment {
    margin-top: 15px;
    margin-bottom: 15px;
}

.feed-general {
    padding-bottom: 100px;
}

.example-header-image {
    background-size: cover;
}

.coment-title {
    font-size: 1.1rem;
}

.coments {
    padding: 3vw;
}