<div class="content">
    <mat-toolbar class="mat-elevation-z6">
        <mat-icon class="mat-8">rss_feed</mat-icon>
        <span>&nbsp;Noticias</span>
    </mat-toolbar>
    <div class="feed">
        <app-noticia-card [noticia]="noticia" *ngFor="let noticia of noticias; let i = index"></app-noticia-card>

        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <button mat-mini-fab class="upper-button" color="primary">
    <mat-icon (click)="gotoTop()">arrow_upward</mat-icon>
  </button>
</div>