.feed {
    margin-top: 15px;
    padding-bottom: 100px;
}

.example-header-image {
    background-image: url('https://scontent.fgua2-1.fna.fbcdn.net/v/t1.0-9/120456548_1427223504133850_110953984660547795_n.jpg?_nc_cat=111&_nc_sid=09cbfe&_nc_ohc=mCT7kIFCwmwAX-ZBOvK&_nc_ht=scontent.fgua2-1.fna&oh=e9e15b0b08a2b1dc7bbefdb887148ea4&oe=5FAA1C80');
    background-size: cover;
}

.example-card {
    margin-bottom: 15px;
}

.upper-button {
    position: fixed;
    bottom: 120px;
    right: 15px;
    font-size: 24px;
    text-align: center;
}