<div class="content">
  <mat-toolbar class="mat-elevation-z6">
    <mat-icon class="mat-8">rss_feed</mat-icon>
    <span>&nbsp;Noticias</span>
  </mat-toolbar>
  <div class="feed">
    <mat-card class="example-card mat-elevation-z6">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Mejorando cada día por tu atención</mat-card-title>
        <mat-card-subtitle>Municipalidad de Santa Ana</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://scontent.fgua2-1.fna.fbcdn.net/v/t1.0-9/121577942_1436908046498729_5524944137391799168_n.jpg?_nc_cat=101&_nc_sid=8bfeb9&_nc_ohc=uGAoaeSqEzMAX-pRycF&_nc_ht=scontent.fgua2-1.fna&oh=fb74389472ba69239934fb49e4a08dc2&oe=5FAC0362">
      <mat-card-content>
        <p>
          Cada día mejoramos nuestros servicios, para brindarte una atención de calidad y con calidez.
        </p>
      </mat-card-content>
      <mat-card-actions align="right">
        <button mat-button color="accent">Ver más</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card mat-elevation-z6">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Iluminando Santa Ana</mat-card-title>
        <mat-card-subtitle>Municipalidad de Santa Ana</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://scontent.fgua2-1.fna.fbcdn.net/v/t1.0-9/121216181_1436220826567451_2215575408006249262_n.jpg?_nc_cat=104&_nc_sid=8bfeb9&_nc_ohc=VoxcA560WPkAX_szZgV&_nc_oc=AQlTh-EtbPdIwn48LDbvKacQA49eJEz0Yl0MLO3phBfBPD7UfS0hXZTaqa6n1O-eHk0&_nc_ht=scontent.fgua2-1.fna&oh=e759d57a6d229029057cc580e118c115&oe=5FA9948F">
      <mat-card-content>
        <p>
          Estamos trabajando cada día para iluminar Santa Ana, pronto
        </p>
      </mat-card-content>
      <mat-card-actions align="right">
        <button mat-button color="accent">Ver más</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card mat-elevation-z6">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Celebrando el día del niño</mat-card-title>
        <mat-card-subtitle>Municipalidad de Santa Ana</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://scontent.fgua2-1.fna.fbcdn.net/v/t1.0-9/121480457_1435424439980423_2819033668467312627_n.jpg?_nc_cat=109&_nc_sid=8bfeb9&_nc_ohc=MgizKtCkegkAX9L15Cq&_nc_ht=scontent.fgua2-1.fna&oh=26a0c42d052eba93fa2e74c86e33a45e&oe=5FAB3B0B">
      <mat-card-content>
        <p>
          Hoy celebramos a los niños y niñas de Urbanización Santa Ana Norte. Compartimos con padres y madres, junto a sus ñinos, y disfrutaron de piñatas, dulces, juegos mecánicos, entre otros.
        </p>
      </mat-card-content>
      <mat-card-actions align="right">
        <button mat-button color="accent">Ver más</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card mat-elevation-z6">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Síguenos en Redes Sociales</mat-card-title>
        <mat-card-subtitle>Municipalidad de Santa Ana</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://scontent.fgua2-1.fna.fbcdn.net/v/t1.0-9/121363932_1435208236668710_6143724412037926449_n.jpg?_nc_cat=107&_nc_sid=8bfeb9&_nc_ohc=JttPQCq7IWwAX-h68k6&_nc_ht=scontent.fgua2-1.fna&oh=9b3916f162f85c0a7e4f76116892ab5b&oe=5FA98BF3">
      <mat-card-content>
        <p>
          Sigue nuestras Redes Sociales Oficiales y conoce más, sobre el trabajo que realiza tu Alcaldesa Milena de Escalón.
        </p>
      </mat-card-content>
      <mat-card-actions align="right">
        <button mat-button color="accent">Ver más</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card mat-elevation-z6">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Proyecto de pavimentación</mat-card-title>
        <mat-card-subtitle>Municipalidad de Santa Ana</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://scontent.fgua2-1.fna.fbcdn.net/v/t1.0-9/121069712_1435414089981458_8201463958148051312_n.jpg?_nc_cat=107&_nc_sid=8bfeb9&_nc_ohc=WNJLsmOORs8AX-CtMTC&_nc_ht=scontent.fgua2-1.fna&oh=ff32f29f6430eea46cf6e7d3685650e1&oe=5FAC35DB">
      <mat-card-content>
        <p>
          Inauguramos el Proyecto de Pavimentación de la 30 Avenida Sur, en la Colonia España. Así mejoramos la red vial del municipio, creando mejores condiciones de vida.
        </p>
      </mat-card-content>
      <mat-card-actions align="right">
        <button mat-button color="accent">Ver más</button>
      </mat-card-actions>
    </mat-card>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <button mat-mini-fab class="upper-button" color="primary">
    <mat-icon (click)="gotoTop()">arrow_upward</mat-icon>
  </button>
</div>

