<div class="content">
    <mat-toolbar class="mat-elevation-z6">
        <mat-icon class="mat-8">sticky_note_2</mat-icon>
        <span>&nbsp;Notificaciones</span>
    </mat-toolbar>
    <div class="feed">
        <h2>Reportes en Espera</h2>
        <!-- <mat-card class="example-card mat-elevation-z6">
      <mat-card-header>
        <mat-icon class="mat-18">wb_incandescent</mat-icon>
        <mat-card-title>Reporte Alumbrado público</mat-card-title>
        <mat-card-subtitle>Hace 4 horas</mat-card-subtitle>
      </mat-card-header>
      <div class="chips" >
      <mat-chip-list aria-label="estado">
        <mat-chip>Estado: En espera</mat-chip>
        <mat-chip color="warn" selected>Prioridad: Urgente</mat-chip>
      </mat-chip-list>
      </div>
      <img mat-card-image src="https://e.rpp-noticias.io/normal/2016/11/02/073807_279540.png">
      <mat-card-content>
        <p>
          Poste caído en la 3a Avenida.
        </p>
      </mat-card-content>
      <mat-card-actions align="left">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu de opciones">
          <mat-icon>more_vert</mat-icon>
          Opciones
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>search</mat-icon>
            <span>Ver detalles</span>
          </button>
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>
          <button mat-menu-item>
            <mat-icon>cancel</mat-icon>
            <span>Anular</span>
          </button>
          <button mat-menu-item>
            <mat-icon>comment</mat-icon>
            <span>Añadir comentario</span>
          </button>
        </mat-menu>
      </mat-card-actions>
    </mat-card> -->
        <app-notifi-card [noti]="nt" *ngFor="let nt of notifiE; "></app-notifi-card>
    </div>
    <div class="feed">
        <h2>Reportes Activos</h2>
        <app-notifi-card [noti]="nt" *ngFor="let nt of notifiA; "></app-notifi-card>
    </div>
    <div class="olds">
        <h2>Reportes finalizados</h2>
        <app-notifi-card [noti]="nt" *ngFor="let nt of notifiF; "></app-notifi-card>
    </div>
    <button mat-mini-fab class="upper-button" color="primary">
    <mat-icon (click)="gotoTop()">arrow_upward</mat-icon>
  </button>
</div>